<section id="download" class="wrapper">
  <div class="file-type"><%= escape_html(drop.extension).sub(/^\./, '') %></div>

  <a href="<%= drop.download_url %>" class="primary button"><strong><%= escape_html(drop.basename) %></strong><%= escape_html(drop.extension) %></a>
</section>
