<section id="download" class="wrapper">
  <div class="file-type">todo</div>

  <a href="<%= drop.download_url %>" class="primary button"><strong><%= escape_html drop.name %></strong>.todo</a>
</section>
