<section id="uploading" class="wrapper">
  <div class="file-type">todo</div>

  <!-- TODO: Fill name -->
  <div class="button disabled uploading"><%= escape_html drop.name %></div>

  <p>
    Sit tight. The file is still being uploaded.
  </p>
</section>
