<header id="header">
  <% unless drop.subscribed? %>
    <h1><a href="http://store.getcloudapp.com/">Simple sharing</a></h1>
  <% end %>

  <h2>Waiting...</h2>
</header>

<section id="content">
  <img alt="Waiting..." src="/images/loading-indicator.gif">
</section>
