<header id="header">
  <% unless drop.subscribed? %>
    <h1><a href="https://itunes.apple.com/us/app/cloud/id417602904?mt=12">Simple sharing</a></h1>
  <% end %>

  <h2><%= escape_html drop.name %></h2>

  <a class="embed" href="<%= drop.content_url %>">Direct link</a>
</header>

<section class="monsoon" id="content">
  <%= drop.content %>
</section>
