/* @override 
	http://localhost:5200/stylesheets/error.css */

* {
  margin: 0;
  padding; 0;
}

body {
  background: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

h1 {
  position: relative;
  font-size: 36px;
  margin-bottom: 32px;
  background: -webkit-linear-gradient(#222 0%, #888 100%) repeat-x;
  background: linear-gradient(#222 0%, #888 100%) repeat-x;
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1::after {
  content: '';
  position: absolute;
  width: 111px;
  height: 79px;
  background-image: url(/images/new/logo-error.png);
  top: -98px;
  left: 50%;
  margin-left: -54px;
}

h1 em {
  font-weight: normal;
  font-style: normal;
}

h2 {
  color: rgba(117, 123, 126, 0.6);
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

p {
  color: rgba(117, 123, 126, 0.4);
  margin-top: 20px;
}

a:link, a:visited {
  color: #4888cc;
  font-weight: bold;
  text-decoration: none;
}

.wrapper {
  margin: 178px auto 80px;
  width: 280px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  h1::after {
    background-image: url(/images/new/logo-error@2x.png);
    background-size: 111px 79px;
  }
}