/* line 17, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes progress-background {
  /* line 13, ../../../sass/screen.scss */
  from {
    background-position: left;
  }

  /* line 16, ../../../sass/screen.scss */
  to {
    background-position: 43px 0;
  }
}

/* line 21, ../../../sass/screen.scss */
body {
  color: #252525;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size: 14px;
  line-height: 1;
}

/* line 29, ../../../sass/screen.scss */
a:link,
a:visited {
  color: #3974c5;
  text-decoration: none;
}

/* line 34, ../../../sass/screen.scss */
.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  overflow: hidden;
  padding: 14px 14px 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 45, ../../../sass/screen.scss */
.button strong {
  font-weight: bold;
}
/* line 49, ../../../sass/screen.scss */
.button.primary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5171b3), color-stop(100%, #4869af));
  background-image: -webkit-linear-gradient(#5171b3, #4869af);
  background-image: -moz-linear-gradient(#5171b3, #4869af);
  background-image: -o-linear-gradient(#5171b3, #4869af);
  background-image: -ms-linear-gradient(#5171b3, #4869af);
  background-image: linear-gradient(#5171b3, #4869af);
  -webkit-box-shadow: 0 1px 0 0 #405f9d;
  -moz-box-shadow: 0 1px 0 0 #405f9d;
  box-shadow: 0 1px 0 0 #405f9d;
  background-color: #5171B3;
  color: #ACBDDF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
/* line 56, ../../../sass/screen.scss */
.button.primary strong {
  color: #FFF;
}
/* line 61, ../../../sass/screen.scss */
.button.disabled {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#eaeaea, #e9e9e9);
  background-image: -moz-linear-gradient(#eaeaea, #e9e9e9);
  background-image: -o-linear-gradient(#eaeaea, #e9e9e9);
  background-image: -ms-linear-gradient(#eaeaea, #e9e9e9);
  background-image: linear-gradient(#eaeaea, #e9e9e9);
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1) inset;
  color: #B8B8B8;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
/* line 67, ../../../sass/screen.scss */
.button.disabled strong {
  color: #9A9A9A;
}
/* line 72, ../../../sass/screen.scss */
.button.waiting {
  background-image: url('/images/new/progress.png'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #e9e9e9));
  background-image: url('/images/new/progress.png'), -webkit-linear-gradient(#eaeaea, #e9e9e9);
  background-image: url('/images/new/progress.png'), -moz-linear-gradient(#eaeaea, #e9e9e9);
  background-image: url('/images/new/progress.png'), -o-linear-gradient(#eaeaea, #e9e9e9);
  background-image: url('/images/new/progress.png'), -ms-linear-gradient(#eaeaea, #e9e9e9);
  background-image: url('/images/new/progress.png'), linear-gradient(#eaeaea, #e9e9e9);
  -webkit-animation-name: progress-background;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  background-repeat: repeat-x, no-repeat;
}

/* line 82, ../../../sass/screen.scss */
header {
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(50%, #f7f7f7), color-stop(100%, #ffffff)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(50%, #f4f4f4), color-stop(100%, #ffffff)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e9e9e9), color-stop(50%, #e1e1e1), color-stop(100%, #e9e9e9)), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(90%, #ffffff), color-stop(100%, #f2f4f7));
  background-image: -webkit-linear-gradient(left, #ffffff, #f7f7f7, #ffffff), -webkit-linear-gradient(left, #ffffff, #f4f4f4, #ffffff), -webkit-linear-gradient(left, #e9e9e9, #e1e1e1, #e9e9e9), -webkit-linear-gradient(#ffffff 90%, #f2f4f7);
  background-image: -moz-linear-gradient(left, #ffffff, #f7f7f7, #ffffff), -moz-linear-gradient(left, #ffffff, #f4f4f4, #ffffff), -moz-linear-gradient(left, #e9e9e9, #e1e1e1, #e9e9e9), -moz-linear-gradient(#ffffff 90%, #f2f4f7);
  background-image: -o-linear-gradient(left, #ffffff, #f7f7f7, #ffffff), -o-linear-gradient(left, #ffffff, #f4f4f4, #ffffff), -o-linear-gradient(left, #e9e9e9, #e1e1e1, #e9e9e9), -o-linear-gradient(#ffffff 90%, #f2f4f7);
  background-image: -ms-linear-gradient(left, #ffffff, #f7f7f7, #ffffff), -ms-linear-gradient(left, #ffffff, #f4f4f4, #ffffff), -ms-linear-gradient(left, #e9e9e9, #e1e1e1, #e9e9e9), -ms-linear-gradient(#ffffff 90%, #f2f4f7);
  background-image: linear-gradient(left, #ffffff, #f7f7f7, #ffffff), linear-gradient(left, #ffffff, #f4f4f4, #ffffff), linear-gradient(left, #e9e9e9, #e1e1e1, #e9e9e9), linear-gradient(#ffffff 90%, #f2f4f7);
  background-repeat: no-repeat;
  background-size: 100% 1px, 100% 2px, 100% 3px, 100%;
  background-position: center bottom;
  color: #252525;
  line-height: 18px;
  padding: 12px 16px 15px;
  position: relative;
  text-shadow: 0 1px 0 #FFF;
}
/* line 94, ../../../sass/screen.scss */
header .brand {
  background: url('/images/new/logo.png') left center no-repeat;
  color: #5A952F;
  left: 16px;
  padding-left: 36px;
  position: absolute;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 94, ../../../sass/screen.scss */
  header .brand {
    background-image: url('/images/new/logo@2x.png');
    background-size: 26px 18px;
  }
}
/* line 107, ../../../sass/screen.scss */
header h2 {
  font-weight: bold;
  text-align: center;
}
/* line 111, ../../../sass/screen.scss */
header h2 small {
  color: #CECECE;
  font-weight: normal;
}
/* line 117, ../../../sass/screen.scss */
header .menu {
  position: absolute;
  right: 26px;
  top: 13px;
}
/* line 122, ../../../sass/screen.scss */
header .menu > a {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('/images/new/menu.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  height: 15px;
  width: 18px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 122, ../../../sass/screen.scss */
  header .menu > a {
    background-image: url('/images/new/menu@2x.png');
    background-size: 18px 15px;
  }
}
/* line 134, ../../../sass/screen.scss */
header .menu .drop-down {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(100, 100, 100, 0.4);
  background: #FFF;
  display: none;
  position: absolute;
  right: -10px;
  width: 240px;
  top: 38px;
}
/* line 146, ../../../sass/screen.scss */
header .menu .drop-down li {
  border-top: 1px solid #E9E9E9;
}
/* line 149, ../../../sass/screen.scss */
header .menu .drop-down li a:link, header .menu .drop-down li a:visited {
  display: block;
  font-weight: bold;
  padding: 12px 14px;
}
/* line 155, ../../../sass/screen.scss */
header .menu .drop-down li a:hover {
  background: #FBFBFC;
}
/* line 160, ../../../sass/screen.scss */
header .menu .drop-down li:hover {
  border-bottom: 1px solid #E3E8F0;
  border-top: 1px solid #E3E8F0;
}
/* line 164, ../../../sass/screen.scss */
header .menu .drop-down li:hover:hover + li {
  border-top: none;
}
/* line 169, ../../../sass/screen.scss */
header .menu .drop-down li:first-child {
  border-top: none;
}
/* line 172, ../../../sass/screen.scss */
header .menu .drop-down li:first-child a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 178, ../../../sass/screen.scss */
header .menu .drop-down li:last-child:hover {
  border-bottom: none;
}
/* line 182, ../../../sass/screen.scss */
header .menu .drop-down li:last-child a {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -ms-border-bottom-left-radius: 2px;
  -o-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -ms-border-bottom-right-radius: 2px;
  -o-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-bottom: 13px;
}
/* line 193, ../../../sass/screen.scss */
header .menu a.is-active + .drop-down {
  display: block;
}

/* line 200, ../../../sass/screen.scss */
.wrapper {
  max-width: 640px;
  margin: 33px auto;
  padding: 0 10px;
}

/* line 207, ../../../sass/screen.scss */
#download,
#uploading {
  text-align: center;
}
/* line 210, ../../../sass/screen.scss */
#download .file-type,
#uploading .file-type {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('/images/new/document.png') center top no-repeat;
  color: #EAEAEA;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  height: 173px;
  margin-bottom: 33px;
  padding-top: 70px;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 210, ../../../sass/screen.scss */
  #download .file-type,
  #uploading .file-type {
    background-image: url('/images/new/document@2x.png');
    background-size: 124px 173px;
  }
}
/* line 229, ../../../sass/screen.scss */
#download p,
#uploading p {
  color: #CECECE;
  font-size: 12px;
  margin-top: 11px;
}

/* line 236, ../../../sass/screen.scss */
#markdown {
  font-family: "ff-tisa-web-pro";
  line-height: 1.6;
}
/* line 240, ../../../sass/screen.scss */
#markdown h1, #markdown h2, #markdown h3, #markdown h4, #markdown h5, #markdown h6 {
  margin: 20px 0 10px;
}
/* line 244, ../../../sass/screen.scss */
#markdown h1 {
  font-size: 32px;
}
/* line 248, ../../../sass/screen.scss */
#markdown h2, #markdown h3, #markdown h4, #markdown h5 {
  font-weight: bold;
}
/* line 252, ../../../sass/screen.scss */
#markdown h2 {
  border-bottom: 1px solid #EEE;
  font-size: 22px;
}
/* line 258, ../../../sass/screen.scss */
#markdown h3 {
  font-size: 18px;
}
/* line 262, ../../../sass/screen.scss */
#markdown h4 {
  font-size: 16px;
}
/* line 266, ../../../sass/screen.scss */
#markdown h5 {
  font-size: 14px;
}
/* line 270, ../../../sass/screen.scss */
#markdown p {
  margin-bottom: 15px;
}
/* line 274, ../../../sass/screen.scss */
#markdown ul, #markdown ol {
  padding-left: 20px;
  margin-bottom: 15px;
}
/* line 279, ../../../sass/screen.scss */
#markdown ul {
  list-style-type: disc;
}
/* line 283, ../../../sass/screen.scss */
#markdown ol {
  list-style-type: decimal;
}
/* line 287, ../../../sass/screen.scss */
#markdown ul ul, #markdown ol ol {
  margin: 0;
}
/* line 291, ../../../sass/screen.scss */
#markdown code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #F8F8F8;
  border: 1px solid #CCC;
  font-family: Monaco, monospace;
  font-size: 0.85em;
  font-weight: normal;
  padding: 1px 3px;
}
/* line 301, ../../../sass/screen.scss */
#markdown pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #F8F8F8;
  border: 1px solid #CCC;
  margin-bottom: 15px;
  overflow-x: auto;
  padding: 19px 20px;
}
/* line 309, ../../../sass/screen.scss */
#markdown pre code {
  background: transparent;
  border: none;
}
/* line 315, ../../../sass/screen.scss */
#markdown blockquote {
  border-left: 3px solid #EEE;
  color: #999;
  margin-bottom: 15px;
  padding-left: 17px;
}
/* line 323, ../../../sass/screen.scss */
#markdown a:link,
#markdown a:visited {
  color: #3974c5;
  font-weight: normal;
  text-decoration: none;
}
/* line 329, ../../../sass/screen.scss */
#markdown a:hover {
  text-decoration: underline;
}
/* line 333, ../../../sass/screen.scss */
#markdown strong {
  font-weight: bold;
}
/* line 337, ../../../sass/screen.scss */
#markdown em {
  font-style: italic;
}
/* line 341, ../../../sass/screen.scss */
#markdown hr {
  background: #CCC;
  border: 0;
  height: 1px;
  margin: 29px 0 30px 0;
}

/* line 350, ../../../sass/screen.scss */
#image.wrapper {
  max-width: 100%;
}
/* line 354, ../../../sass/screen.scss */
#image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
